.item_card
{
    border: 1px solid #e1e9ee;
    background-color: white;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.199);
    overflow: hidden;
    position: relative;
    margin: 0.7rem;
    img 
    {
        height: 14rem;
        display:block;
    }
    .opacity 
    {
        background-color: rgba(0, 0, 0, 0.199);
        width: 100%;
        height: 14rem;
        z-index: 999;
        position: absolute;
        top: 0;
        display: none;
    }
    img:hover 
    {
        transform: scale(1.1);
        transition-duration: 1s;
    }  
    h3 
    {
        font-family: "Roboto", Sans-serif;
         color: #4b5963;
         font-size: 16px;
        margin-left: 1rem;
        font-weight: 300;
   }
   .last_h3
   {
       display: inline;
   }
   &:hover 
   {
    transform: scale(1.05);
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.4); 
    transition-duration: 1s;
    backface-visibility: hidden;
   }
  .btn_details 
  {
      padding: 0.5rem;
      background-color: #293C49;
      color: white;
      font-family: "Roboto", Sans-serif;
      font-size: 15px;
      border: 1px solid transparent;
      text-transform: capitalize;
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: 200;
      border-radius: 3px;
      position: absolute;
      left: 9.5rem;
      top: 18.5rem;
      &:hover 
      {
          cursor: pointer;
          background-color: #F95858;
          transform: scale(1.05);
          transition-duration: 0.3s;
          
      }
      &.add_card
      {
        // top: 10rem;
         left: 6rem;
         border-radius: 25px;
         background-color: #F95858;
         animation-name: animate;
         animation-duration: 0.6s;
         animation-fill-mode: forwards;
         
      }
  }
  
  .img_div:hover{
    .opacity {
        display: block;
        
    }
  }
}

