<div class="filtering">
  <div class="filter_list">

      <div class="catogreies">
          <span class="icon_category"></span>
          all categories
      </div>
      <div class="filter_list_items">
          <ul>
              <li><a href="#">new arrivals</a></li>
              <li><a href="#">top sales</a></li>
              <li><a href="#">dresses</a></li>
              <li><a href="#">mobiles</a></li>
              <li><a href="#">head phones</a></li>
              <li><a href="#">glasses</a></li>
              <li><a href="#">shoses</a></li>
              <li><a href="#">laptops</a></li>
              <li><a href="#">glasses</a></li>
              <li><a href="#">shoses</a></li>
              <li><a href="#">laptops</a></li>
          </ul>
      </div>
  </div>
</div>
